<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00acee;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="#">
        <img src="assets/img/icon2.png" alt="Logo" style="width:40px;">
      </a>
      <li class="nav-item active">
        <a class="nav-link" style="color:#FFFFFF" routerLink="home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#FFFFFF" routerLink="result">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#FFFFFF" routerLink="trending-topics">Trending Topics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#FFFFFF" routerLink="locations">Locations</a>
      </li>
    </ul>
  </div>
</nav>